<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" 
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
                integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
                crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse">
                <a href="/" class="navbar-brand">My Site</a>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>         
                </ul>
            </nav>
        </header>

<!-- comment goes here -->

<!-- Main content here -->
<%- defineContent('hero') %>
        <main>
            <div class="container">
                <%- body %>
            </div>
        </main>


        <footer>
            Awesome site. Copyright &copy; 2017
        </footer>
    </body>
</html>